* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    /* Fondo negro para todo el cuerpo de la página */
    color: #fff;
    /* Texto blanco para todo el cuerpo de la página */
    padding-top: 56px;
}

.navbar {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar.fixed-top {
    background-color: transparent !important;
    z-index: 1030 !important;
}

.navbar.fixed-top .navbar-nav .nav-link {
    color: white;
}

.navbar.fixed-top .navbar-brand {
    color: white;
}

.navbar-collapse a {
    text-align: right;
    /* Con esta propiedad, las opciones del navbar hacia la derecha, ya que si no la agrego, el navbar de escritorio
estara a la derecha, pero al ahcerlo movil, las opciones se van a la izquierda*/
}


.carousel {
    margin-top: -56px;
    /* con esto subo el carousel o podria haber creado el navbar con margin-botttom con valores negativos */
}

/* fuente de google */
.open-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}




/*Seccion quienes somos*/


#quienes-somos {
    color: #fff;
    /* Texto blanco */
    background-color: #000;
    /* Fondo negro */
    padding: 4rem 0;
    /* Espacio arriba y abajo */
}

#quienes-somos h2 {
    color: #fff;
    /* Título blanco */
    margin-bottom: 2rem;
    /* Espacio debajo del título */
}

#quienes-somos .col-md-4 {
    margin-bottom: 1rem;
    /* Espacio debajo de cada columna */
}

#quienes-somos p {
    background-color: #000000;
    /* Fondo de los párrafos */
    padding: 1rem;
    /* Espacio interno de los párrafos */
    border-radius: 0.5rem;
    /* Bordes redondeados para los párrafos */
}

#quienes-somos button {
    background-color: #17a2b8;
    /* Fondo del botón */
    border: none;
    /* Sin bordes */
    color: #fff;
    /* Iconos blancos */
    width: 100%;
    /* Ancho al 100% del contenedor */
    margin-bottom: 1rem;
    /* Espacio debajo del botón */
    padding: 1rem;
    /* Espacio interno del botón */
    border-radius: 0.5rem;
    /* Bordes redondeados para el botón */
}

#quienes-somos button i {
    margin-right: 0.5rem;
    /* Espacio a la derecha del ícono */
}


/*Seccion destacados*/

#destacados {
    background-color: #000;
    /* Fondo oscuro para la sección destacados */
}

#destacados .card {
    border: none;
    /* Quita el borde de las tarjetas */
    background-color: #17a2b8;
    /* Fondo para cada tarjeta */
}

#destacados .card-img-top {
    height: 150px;
    object-fit: cover;
    /* con esto, la imagen cubre todo el espacio disponible del card*/
}

#destacados .card-title {
    color: #ffffff;
    /* Color para los títulos de las tarjetas */
}

#destacados .card-text {
    color: #fff;
    /* Color del texto de las tarjetas */
}



/*Seccion contactanos*/

#contacto {
    background-color: #000;
    /* Fondo negro para la sección de contacto */
    color: #fff;
    /* Texto blanco para la sección de contacto */
    padding: 4rem 0;
    /* Espacio arriba y abajo */
}

#contacto .form-label {
    margin-bottom: .5rem;
    /* Espacio debajo de la etiqueta */
}

#contacto .form-control {
    background-color: white;
    /* Fondo blanco para los campos de entrada */
    color: black;
    /* Texto negro para los campos de entrada */
    border: 1px solid #fff;
    /* Borde blanco para los campos de entrada */
    margin-bottom: 1rem;
    /* Espacio debajo de cada campo de entrada */
}


#contacto .btn-primary {
    background-color: #17a2b8;
    border: none;
    padding: .5rem 2rem;
    display: block;
    width: auto;
    margin-left: 0;

}

/*Footer final*/

footer.bg-primary {
    background-color: #17a2b8 !important;
    /* color del footer */
}

footer i {
    font-size: 1.2rem;
    /* Tamaño de los íconos de las redes sociales */
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {

    #quienes-somos,
    #quienes-somos h2,
    #quienes-somos .col-md-4 {
        display: none;
        /* Esto me permite cultar la sección completa de "Quienes somos" en pantallas pequeñas gracias al none*/
    }

    #contacto .form-control,
    #contacto .btn-primary {
        width: 100%;
        /* Esto me permite dejar el formulario alineado al tamaño de la pagina*/
    }
}